[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django-cors-headers = "*"
djangorestframework = "*"
psycopg2-binary = "*"
pytz = "*"
sqlparse = "*"
djangorestframework-simplejwt = "*"
Django = "*"
Pillow = "*"
black = "==18.9b0"
flake8 = "*"

[requires]
python_version = "3.7"
