appdirs==1.4.3
attrs==19.1.0
black==19.3b0
Click==7.0
Django==2.2.7
django-cors-headers==3.0.2
djangorestframework==3.9.4
djangorestframework-simplejwt==4.3.0
entrypoints==0.3
flake8==3.7.7
mccabe==0.6.1
Pillow==8.2.0
psycopg2-binary==2.8.2
pycodestyle==2.5.0
pyflakes==2.1.1
pytz==2019.1
sqlparse==0.3.0
toml==0.10.0
djoser==1.7.0